// main: ../main.scss

.news {

  #newsRow, #newsListRow {
    align-items: flex-start;
    justify-content: space-between;
  }

  #newsListRow {

    & .card {
      margin-bottom: 2rem;

      & .card-image {
        // height: 200px;
        // max-height: 200px;
        // overflow: hidden;
        // border: 1px solid $gray-light;
        // margin-bottom: .75rem;

        img {
          position: relative;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          align-items: center;
          overflow: hidden;
        }
      } // end card-image

      & .newsDetails-Home {
        margin-bottom: .3rem;
        font-size: .8rem;
      }
    } // end card
  } // end #newsListRow

  #newsContent {
    max-width: 100%;
    flex-grow: 1;

    img {
      margin-bottom: 1.5rem;
    }

    & #newsDetails {
      margin-bottom: 1.5rem;
    } // end #newsDetails
  } // end #newsContent

  #newsSidebar {
    // max-width: 300px;

    & .newsSidebar-adspace-300x250 {
      width: 300px;
      height: 250px;
      margin: 0 auto 1.5rem auto;
    } // end newsSidebar-adspace-300x250

    li {
      margin-bottom: 1rem;
    }

    p:last-child {
      margin-bottom: 1.5rem;
    }
  } // end #newsSidebar
} // end news
