// main: ../main.scss

#topBar {
  display: none;
}

@media (min-width: 575px) { // @media min-575
  #topBar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 9px;
    margin: 9px 0;
    z-index: 9999;

    & .row {
      flex-wrap: nowrap;
      align-items: center;
    }

    & #socialNetworks {
      flex: 1;
      & ul {
        font-size: 1.2rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
      }

      & a {
        color: white;
        opacity: .75;
        &:hover, &:focus {
          opacity: 1;
          position: relative;
          top: -2px;
          right: -2px;
        }
      }
    } // end #socialNetworks

    & #topLinks {
      flex: 2;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;

      & .btn {
        font-size: .8rem;
        color: white;
        border: 1px solid white;
        line-height: .7;
        border-radius: 0;
        transition: $ease-fast;
        &:hover, &:focus {
          background: inherit;
        }
      }

      & #topEmployment {
        & .btn {
          color: white;
          &:hover, &:focus {
            color: $green-darkest;
            background: $green;
            border: 1px solid $green;
          }
        }
      } // end #topEmployment

      & #topGive {
        & .btn {
          color: white;
          &:hover, &:focus {
            color: $accent-darkest;
            background: $accent;
            border: 1px solid $accent;
          }
        }
      } // end #topGive
    } // end #topLinks
  } // end #topBar
}

@media (min-width: 768px) { // @media min-768
	#topBar #topLinks {
    flex: 3;
	}
}

@media (min-width: 992px) { // @media min-992
  #topBar #topLinks {
    flex: 4;
	}
}

@media (min-width: 1200px) { // @media min-1200
  #topBar #topLinks {
    flex: 5;
	}
}

@media (min-width: 1800px) { // @media min-1800
  #topBar #topLinks {
    flex: 6;
	}
}

.topBar-hello {
  transition: $ease-fast;
  transform: translate(0,0);
}

.topBar-bye {
  transition: $ease-slow;
  transform: translate(0,-150px);
}
