// main: ../main.scss

#topNav {
  display: none;
}

@media (min-width: 575px) { // @media min-575
  // #mobileNav {
  //   display: none;
  // }

  #topNav {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    padding: 9px;
    margin: 9px 0;
    z-index: 9999;

    & .row {
      flex-wrap: nowrap;
      align-items: center;
    }

    & #topNavLogo {
      flex: 2;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      & img {
        width: 150px;
        position: relative;
        left: -3px;
      }
    }

    & #topNavLinks {
      flex: 1;
      & ul {
        font-size: .9rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        & li {
          margin-left: 1rem;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    } // end #topNavLinks
    & a {
      font-family: $headings;
      color: white;
      opacity: .75;
      &:hover, &:focus {
        opacity: 1;
      }
    } // end a
  } // end #topNav
}

@media (min-width: 768px) { // @media min-768
	#topNav #topNavLogo {
    flex: 3;
	}

  #topNav #topNavLinks > ul {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 992px) { // @media min-992
  #topNav #topNavLogo {
    flex: 4;
	}
}

@media (min-width: 1200px) { // @media min-1200
  #topNav #topNavLogo {
    flex: 5;
	}
}

@media (min-width: 1800px) { // @media min-1800
  #topNav #topNavLogo {
    flex: 6;
	}
}

.topNav-hello {
  transition: $ease-slow;
  opacity: 1;
}

.topNav-bye {
  transition: $ease-fast;
  opacity: 0;
}
