{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL news #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append news to the site title defined in base.html #}
{% block title %}{% parent %} - news{% endblock %}

{% block content %}

  {# The first thing we do is call news data from the CMS. #}
  {% set data = cms.news %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 5) %}

<main id="mainContent">

<section class="pageHero" data-search-index="false">
  <div class="jumbotron jumbotron-fluid">
    <img src="http://www.goodwilldallas.org/Uploads/Images/Man-working-at-Goodwill-Dallas.jpg" />
  </div>
</section>

<section class="breadcrumbs animated fadeIn delay1" data-search-index="false">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          {% block breadcrumb %}
            <li><a href="/">Home</a></li>
            <li>&gt;</li>
            <li><a href="/news">News</a></li>
          {% endblock %}
        </ul>
      </div>
    </div>
  </div>
</section>

{# ----------------------------- #}
{# ----------------------------- #}
{# News Section #}
<section class="news" id="newsList">
  <div class="container">
    <div class="row" id="newsListRow">
    {# ----------------------------- #}
    {# ----------------------------- #}
    {# This for loop can use any data from http:localhost:2000/cms/#/form/news/ #}
    <!-- News List -->
    <div class="col-sm-8" id="newsContent">
      <div class="row">
        <div class="col">
          <ul class="newsList">
            {% for object in data %}
              <li itemprop="image" class="newsListImage">
                <img src="{{ object.featured_image.url }}" />
              </li>
              <li itemprop="headline">
                <h4>
                  <a href="{{ url(object) }}">{{ object.name }}</a>
                </h4>
              </li>
              <li itemprop="description">
                <p>
                  {{ object.short_description }}
                </p>
              </li>
              <li class="newsListButton">
                <a href="{{ url(object) }}" class="btn primary" data-wipe="Read More">
                  Read More
                </a>
              </li>
            {% endfor %}
          </ul>
        </div> {# /col #}
      </div> {# /row #}
      <div class="row">
        <div class="col">
          {# The actual pagination template, feel free to edit or replace the default one. #}
          {% include "templates/partials/paginator.html" %}
        </div> {# /col #}
      </div> {# /row #}
    </div> {# /col-8 #}
    {# ----------------------------- #}
    {# ----------------------------- #}
    {# News Sidebar #}
    <aside class="col-sm-4" id="newsSidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="">
            <img src="http://www.eastafrica-news.com/wp-content/themes/yaaburnee-themes/lib/img/ad-300x250.jpg" />
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
    </aside> {# /col-4 #}

    </div> {# /newsListRow #}
  </div> {# /container #}
</section> {# /news #}

</main>

{% endblock %}
