// main: ../main.scss

@media (min-width: 768px) {
  #mobileNav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: hidden;
    padding: 0;
    z-index: 1;
    // background: $primary-dark;
    // transform: translateY(100%);
    transition: $ease-fast;
    box-shadow: 0 0 9px rgba(0,0,0,.65);
    border-top: none;
    border-right: 1px solid $black-lightest;
    background: url("/images/GM091515-0232-compressor.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: $gray-lunch;

    // &.showMe {
    //   transform: translateY(0);
    // }

    &.showMeMore {
      height: 100vh;
    }

    & .row {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    #mobileNavBar {
      height: 100%;
      margin-bottom: 0;
      flex-direction: row-reverse;
      padding: 0 0 1rem;

      #mobileNavDetails {
        color: darken(white,20%);
        padding: 30px 0 30px 30px;

        & p {
          font-family: $ui;
          line-height: 1;
          margin-bottom: .15rem;
          &:last-child {
            margin-bottom: 0;
          }
        }

        .mobileTitle {
          font-size: .9rem;
          text-transform: uppercase;
        }

        .mobileDetails {
          font-size: .65rem;
        }
      }
    }

    #mobileNavLinks {
      overflow: scroll;
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      // height: 100vh;
      // align-items: flex-start;

      // & .mobileRow {
      //   background: $primary-alt;
      //   transition: 300ms ease-in-out;
      //   &:hover, &:focus {
      //     background: $primary-alt-light;
      //   }
      // }

      & .mobileNavIcon {
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
      }

      & .fa {
        font-size: 1.25rem;
      }

      // & .mobileRow {
      //   padding: 1rem 0;
      //   border-bottom: 1px solid $primary;
      // }

      & .col-11, & .col-10 {
        padding-left: 0;
      }

      & p {
        font-size: .65rem;
        // text-align: center;
        font-family: $ui;
        margin-bottom: 0;
      }

      & h6 {
        font-family: $ui;
        font-size: .8rem;
        margin-bottom: 0;
      }

      & ul {
        list-style-type: none;
        padding: 0;
        font-size: 1rem;

        & li {
          font-family: $ui;
          padding: 9px 0;
          margin: 9px 0;

          & span {
            font-size: 80%;
          }
        }
      }

      & a {
        color: white;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }  // end #mobileNavLinks

    #mobileNavBars {
      display: none;
    }

    #mobileNavLogo {
      display: block;
      &.col {
        padding: 0;
      }
    }

    & img {
      width: 60px;
      position: relative;
      left: 14px;
      top: -1px;
    }

    // & #navFade {
    //   content: "";
    //   background: rgba(145, 145, 145, 0.55);
    //   width: 100%;
    //   height: 100vh;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: -1;
    // }
  } // end mobileNav
} // end @media 1024

@media (min-width: 1200px) {
  #mobileNav {
    & #mobileNavBar {
      & #mobileNavDetails {
        & .mobileTitle {
          font-size: 1.5rem;
          margin-bottom: .25rem;
        }
        & .mobileDetails {
          font-size: .7rem;
        }
      }
    }
    & img {
      width: 82px;
      position: relative;
      left: 14px;
      top: -1px;
    }
  }
}

@media (min-width: 1440px) {
  #mobileNav {

    & #mobileNavBar {
      & #mobileNavDetails {
        & .mobileTitle {
          font-size: 1.5rem;
          margin-bottom: .25rem;
        }
        & .mobileDetails {
          font-size: .7rem;
        }
      }
    }
    & img {
      width: 82px;
      position: relative;
      left: 14px;
      top: -1px;
    }
  }
}
