// main: ../main.scss

// Sticky Slider Navigation (Responsive)
// http://codepen.io/ettrics/pen/WRbGRN
.et-hero-tabs,
.et-slide {
  font-family: "Century Gothic", 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    position: relative;
    // background: #eee;
		text-align: center;
		// padding: 0 2em;
    & a {
    	text-decoration: none;
    }
    & h1 {
        font-size: 2rem;
        // margin: 0;
        // letter-spacing: 1rem;
    }
    & h3 {
        font-size: 1rem;
        // letter-spacing: 0.3rem;
        opacity: 0.6;
    }

    background: url("/images/Goodwill-worn-out-hands-from-working-hard.jpg") no-repeat 50% 50%;
    background-size: cover;
    background-color: $accent;
    background-blend-mode: lighten;

    & #foundationLogo {
      & img {
        margin: 0 auto 1rem;
      }

      & .mobile {
        max-width: 250px;
        display: block;
      }

      & .desktop {
        display: none;
      }
    }
}

.et-hero-tabs {
  height: 92vh;
  & h1, & h2, & h3, & h4, & h5, & h6, & p, & ol, & ul, & li, & span, {
    color: $white;
  }
}

#pageContent {
  &.et-main {
    & .et-slide {
      text-align: inherit;
      background: none;
      align-items: flex-start;
      justify-content: flex-start;
    }
  } // end .et-main

  & #mainSponsorOpp {
    // height: 200vh;
  }

  & section {
    margin-bottom: 6rem;
  }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #fff;
    z-index: 10;
    & a {
    	text-decoration: none;
    }
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    color: #000;
    // letter-spacing: 0.1rem;
    letter-spacing: 1px;
		transition: all 0.5s ease;
		font-size: 0.65rem;
    & a {
    	text-decoration: none;
    }
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
    &:before {
      content: attr(data-text1);
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 768px) {
  .et-hero-tab {
		font-size: 1rem;
	}
}

@media (min-width: 1024px) {
	.et-hero-tabs,
	.et-slide {
    height: 100vh;
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
    &:before {
      content: attr(data-text2);
    }
	}
  #pageContent {
    &.et-main {
      & .et-slide {
        text-align: inherit;
        background: none;
        align-items: flex-start;
        justify-content: flex-start;
      }
    } // end .et-main

    & #mainSponsorOpp {
      height: 200vh;
    }
  } // end #pageContent
}

// .force-100 {
//   width: 100vw !important;
//   left: 0 !important;
// }
//
// .flyFree {
//   width: initial;
//   left: initial;
// }
