// main: ../main.scss

#mainSponsorOpp {
  & .card {
    transition: 300ms ease-in-out;
    box-shadow: $z-depth-2;
      &:hover, &:focus { box-shadow: $z-depth-5; }
    margin-bottom: 1.5rem;
    
    & .card-img-top {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 150px;
      background: $accent;
      color: $white;
    }
  }

  & .list-group-item {
    font-size: 0.8rem;
    line-height: 1.25;
    font-family: $display;
    letter-spacing: .35px;
    padding: .5rem 1.25rem;
    background: rgba(0,0,0,.05);
      &:nth-child(even) { background: none; }
  }
}
