<div class="row">
  <!-- <div class="col-12">
    <ul class="chewThis"><li>
      <span style="text-transform:uppercase;">Our Mission</span><br />
      <p>“Our Mission is to provide job training and employment to persons with disabilities and disadvantages to help transform their lives through the power of jobs.”</p>
      <p>
        When you empower someone with work, education, or purpose, you not only give them a chance to better themselves but also a chance to better their families, friends, and community.
      </p>
    </li></ul>
  </div> -->
  <div class="col-12" style="margin: 2rem auto 4rem;">
    <h2>Event Information</h2>
    <p class="h5">
      Goodwill Industries of Dallas, Inc.’s largest annual fundraising event, THE LUNCH, targets Dallas’ top chief executives and influential community leaders.
    </p>
    <p>
      The event hosts world class speakers across the nation for an afternoon of entertainment while enjoying a discussion about the services rendered by the organization. Proceeds from THE LUNCH promote Goodwill’s Workforce Development Programs, providing a wide-range of assessment, job training and career placement services.
    </p>
  </div>
  <div class="w-100"></div>
  <div class="col-12" style="margin: 2rem auto 4rem;">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center chew">Chew on This</h4>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">6,836</span><br />
          Mission services provided
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">3,295</span><br />
          People served through employment &amp; training programs
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;"><sup>$</sup>19.2<sub>&nbsp;million</sub></span><br />
          Estimated total earnings of people who earned a job with Goodwill’s help
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">1,433</span><br />
          People who earned a job with Goodwill’s help
        </li></ul>
      </div>
    </div>
  </div>
</div>
