<div class="row">
  <div class="col-12" style="margin: 2rem auto 4rem;">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center chew">Chew on This</h4>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span>6,836</span><br />
          Mission services provided
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span>3,295</span><br />
          People served through employment &amp; training programs
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span><sup>$</sup>19.2<sub>&nbsp;million</sub></span><br />
          Estimated total earnings of people who earned a job with Goodwill’s help
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span>1,433</span><br />
          People who earned a job with Goodwill’s help
        </li></ul>
      </div>
    </div>
  </div>
</div>
