<div class="responsiveTabs">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1" tabindex="7">Our Mission</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2" tabindex="8">6,836</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3" tabindex="9">3,295</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4" tabindex="10">$19.2m</label>

  <section id="content1">
    <ul class="chewThis"><li>
      <span style="text-transform:uppercase;">Our Mission</span><br />
      <p>“Our Mission is to provide job training and employment to persons with disabilities and disadvantages to help transform their lives through the power of jobs.”</p>
      <p>
        When you empower someone with work, education, or purpose, you not only give them a chance to better themselves but also a chance to better their families, friends, and community.
      </p>
    </li></ul>
  </section>

  <section id="content2">
    <ul class="chewThis"><li>
      <span style="font-size:40px;">6,836</span><br />
      Mission services provided
    </li></ul>
  </section>

  <section id="content3">
    <ul class="chewThis"><li>
      <span style="font-size:40px;">3,295</span><br />
      People served through employment &amp; training programs
    </li></ul>
  </section>

  <section id="content4">
    <ul class="chewThis"><li>
      <span style="font-size:40px;">$19.2<sub>&nbsp;million</sub></span><br />
      Estimated total earnings of people who earned a job with Goodwill’s help
    </li></ul>
  </section>

</div>
