<div class="row">
  <div class="col-12">
    <h2>Event Information</h2>
    <p class="h5" style="margin-bottom:1.4rem;">
      THE LUNCH aims to raise funds to support the mission of Goodwill Dallas, which is to provide job training and employment to persons with disabilities and disadvantages to help transform their lives through the power of jobs.
    </p>
  </div>
  <div class="w-100"></div>
  <div class="col-12" style="margin-bottom:4rem;">
    <div class="row">
      <div class="col-12 col-md-6">
        <p>
           100% of THE LUNCH proceeds benefit individuals with disabilities and disadvantages, providing them with free job training and placement services. With your support of THE LUNCH, more people in our community are given a starting point, a pathway, an opportunity!
         </p>
      </div>
      <div class="col-12 col-md-6">
        <p>
          When you empower someone with work, education, or purpose, you not only give them a chance to better themselves, but also a chance to better their families, friends, and community.
       </p>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-12" style="margin: 2rem auto 4rem;">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center chew">Chew on This</h4>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">6,836</span><br />
          Mission services provided
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">3,295</span><br />
          People served through employment &amp; training programs
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;"><sup>$</sup>19.2<sub>&nbsp;million</sub></span><br />
          Estimated total earnings of people who earned a job with Goodwill’s help
        </li></ul>
      </div>
      <div class="col-12 col-md-3">
        <ul class="chewThis"><li>
          <span style="font-size:40px;">1,433</span><br />
          People who earned a job with Goodwill’s help
        </li></ul>
      </div>
    </div>
  </div>
</div>
