<footer id="footer">
	<div class="container">
			  <div class="row">
			<div class="col">
				<a href="https://goodwilldallas.org" target="_blank">
					<img src="{{ .Site.BaseURL }}images/goodlogo-invert.svg" alt="" />
				</a>
				<p>
					For over 90 years Goodwill Dallas has been committed to providing job training and employment to those with disabilities and disadvantaging conditions.
				</p>
			</div>
			<div class="w-100" style="margin-bottom:2rem;"></div>
			<div class="col" style="font-size:.8rem;">
				Check out previous years:
				<a href="https://www.goodwilldallas.org/TheLUNCH-2015" target="_blank">2015</a> &amp;
				<a href="https://www.goodwilldallas.org/TheLUNCH-2016" target="_blank">2016</a>.
			</div>
			<div class="w-100"></div>
	    <div class="col">
				<p class="copyright">
					&copy; 1923<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> <a href="https://goodwilldallas.org" target="_blank">Goodwill Industries of Dallas, Inc.</a>
					<br />An American nonprofit 501(c)(3) organization.
				</p>
	    </div>
	  </div>
	</div>
</footer>
<footer id="subFooter">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<a href="https://www.goodwilldallas.org/Privacy" target="_blank">
					Privacy Policy&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="https://www.goodwilldallas.org/Terms" target="_blank">
					Terms of Use&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="http://milleradagency.com" target="_blank">
					Powered by Miller Ad Agency&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</footer>

	<!-- Javascripts -->
	<!-- ~/themes/YEAR/layouts/partials/scripts.html -->
	{{ partial "scripts.html" . }}

</body>
</html>
