<section id="fullpageIntro">
  <div class="section">
    <div class="slide">
      <div class="container" id="fpi1">
        <div class="row text-center">
          <div class="col">
            <img src="http://goodwilldallas.org/uploads/lunch/2017/good-logo-stacked-trans.svg" alt="Goodwill Industries of Dallas, Inc. Logo" />
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>85 cents</span>
            <p>
              Out of every dollar spent directly funds our mission and programs.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>1,262 people</span>
            <p>
              Placed into jobs last year.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>6,117</span>
            <p>
              Education, job-related, &amp; employment services provided to North Texas residents.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <br />
            <a class="btn waves-effect waves-light">Tell me more&nbsp;
            <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container" id="fpi2">
        <div class="row text-center">
          <div class="col">
            <img src="http://goodwilldallas.org/uploads/lunch/2017/good-logo-stacked-trans.svg" alt="Goodwill Industries of Dallas, Inc. Logo" />
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>85 cents</span>
            <p>
              Out of every dollar spent directly funds our mission and programs.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>1,262 people</span>
            <p>
              Placed into jobs last year.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <span>6,117</span>
            <p>
              Education, job-related, &amp; employment services provided to North Texas residents.
            </p>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <br />
            <a class="btn waves-effect waves-light">Tell me more&nbsp;
            <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
