<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<!-- Microdata markup added by Google Structured Data Markup Helper. -->
	{{ partial "meta.html" . }}

	<!-- Modernizr -->
	<!-- https://modernizr.com/ -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

	<!-- FontAwesome -->
	<script src="https://use.fontawesome.com/d559e6066b.js"></script>

	<!-- Stylesheets -->
	<!-- ~/themes/YEAR/layouts/partials/stylesheets.html -->
	{{ partial "stylesheets.html" . }}

	<!-- Google Analytics -->
	{{ template "_internal/google_analytics_async.html" . }}

	{{ "<!--[if lt IE 11]>" | safeHTML }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	{{ "<![endif]-->" | safeHTML }}

	{{ partial "chromeframe.html" . }}
</head>
<body>

	{{ "<!--[if lt IE 11]>" | safeHTML }}
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	{{ "<![endif]-->" | safeHTML }}

	<!-- ~/themes/YEAR/layouts/partials/socialShare.html -->
	{{ partial "socialShare.html" . }}
