<main id="pageContent" class="et-main" style="opacity:0;">
  <section class="et-slide" id="mainEventInformation">
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-4">
          <img src="{{ .Site.BaseURL }}images/TheLunch-OfficialLogo.jpg" class="img-fluid" alt="Goodwill Industries of Dallas THE LUNCH Logo" style="margin-bottom:1rem;">
        </div>
        <!-- <div class="col-md-8" id="lunchTopNames">
          {{ partial "sponsorOppNames.html" . }}
        </div>
        <div class="w-100" style="margin-bottom:4rem"></div> -->
        <div class="col-12 col-md-8">
          <h2>Event Information</h2>
          <p>
            Goodwill Industries of Dallas, Inc.’s largest annual fundraising event, THE LUNCH, targets Dallas’ top chief executives and influential community leaders.
          </p>
          <p>
             100% of THE LUNCH proceeds benefit Goodwill’s job training and placement programs to change lives through the power of jobs!
           </p>
          <p>
            With your support of THE LUNCH, more people in our community are given a starting point, a pathway, an opportunity!
         </p>
        </div>
        <div class="w-100" style="margin-bottom:3rem;"></div>
        <div class="col-12">
          {{ partial "ChewOnThis-Temp.html" . }}
        </div>
        <div class="w-100"></div>
        <div class="col-12">
          <p>
            For information about next year’s event and how to sponsor, contact Ashleigh Hughes by phone at <a href="tel:2146382800,240">214-638-2800, x240</a> or by email at <a href="mailto:ahughes@goodwilldallas.org?subject=THE+LUNCH+2017">ahughes@goodwilldallas.org</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="et-slide" id="mainFeaturedGuest" style="display: block;">
    <div class="container" style="margin-bottom:1.5rem;" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      <div class="row">
        <div class="col">
          <h2>Special Guests</h2>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="row" id="mainGuest1" style="align-items: center;">
            <div class="col-md-5">
              <img src="/images/General-Stanly-McChrystal.jpg" alt="" class="img-fluid">
            </div>
            <div class="col" style="margin-bottom: 2rem;">
              <h4 itemprop="name">General Stanley McChrystal, USA <small>(Ret.)</small></h4>
              <h6><em>Former Commander of U.S. and International Forces in Afghanistan, Former Chief of Staff of Military Operations in Afghanistan, Former leader of Joint Special Operations Command.</em></h6>
              <p>
                A one-of-a-kind commander with a remarkable record of achievement, General Stanley McChrystal is widely praised for creating a revolution in warfare that fused intelligence and operations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="container" id="mainGuest2" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/Frances-Townsend.jpg" alt="" class="img-fluid"/>
        </div>
        <div class="col">
          <h5 itemprop="name">Frances Townsend</h5>
          <h6><em>Former Homeland Security Advisor to President George W. Bush.</em></h6>
          <p>
            From 2004 to 2008, Frances Townsend served as Assistant to President George W. Bush for Homeland Security and Counterterrorism and Chaired the Homeland Security Council.
          </p>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="et-slide" id="mainSponsorOpp">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Sponsorship Opportunities</h2>
        </div>
      </div>
    </div>
    {{ partial "sponsorOpp.html" . }}
  </section>
  <section class="et-slide" id="mainDonate">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Donate</h2>
          <p>
            100% of THE LUNCH proceeds benefit individuals with disabilities and disadvantages, providing them with free job training and placement services.
          </p>
          <p>
            With your support of THE LUNCH, more people in our community are given a starting point, a pathway, an opportunity!
          </p>
          {{ partial "donateCode.html" . }}
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</main>
