<nav id="mobileNav">
  <div class="container-fluid">
    <!-- mobile bar -->
    <div class="row" id="mobileNavBar">
      <div class="col-10" id="mobileNavDetails">
        <p class="mobileTitle">The Lunch</p>
        <p class="mobileDetails">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;9/8/2017
          &nbsp;
          <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Omni Dallas
        </p>
      </div>
      <div class="col" id="mobileNavBars">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="col" id="mobileNavLogo">
        <img alt="" src="{{ .Site.BaseURL }}images/good-logo-faceonly.svg" />
      </div>
    </div>
    <!-- mobile links -->
    <div class="row" id="mobileNavLinks">
      <!-- <div class="col"> -->
        <!-- <p>
        Goodwill Industries of Dallas, Inc.’s largest annual fundraising event, THE LUNCH, targets Dallas’ top chief executives and influential community leaders.
        </p> -->
        <div class="col">
        <!-- Event Info -->
        <a href="#mainEventInformation" class="mainShow"><div class="row mobileRow">
          <div class="col mobileNavIcon">
            <i class="fa fa-info" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <h6>Event Information</h6>
            <p>What, when, where, &amp; why</p>
          </div>
        </div></a>
        <!-- Featured Guest -->
        <a href="#mainFeaturedGuest" class="mainShow"><div class="row mobileRow">
          <div class="col mobileNavIcon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <h6>Featured Guest</h6>
            <p>Dr Condoleezza Rice</p>
          </div>
        </div></a>
        <!-- Sponsorship Opportunities -->
        <a href="#mainSponsorOpp" class="mainShow"><div class="row mobileRow">
          <div class="col mobileNavIcon">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <h6>Sponsorship Opportunities</h6>
            <p>Provide job training</p>
          </div>
        </div></a>
        <!-- Donate -->
        <a href="#mainDonate" class="mainShow"><div class="row mobileRow">
          <div class="col mobileNavIcon">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <h6>Donate to THE LUNCH</h6>
            <p>Give back to your community</p>
          </div>
        </div></a>
        <!-- Social Share -->
        <a href="#mainShare" class="mainShow"><div class="row mobileRow">
          <div class="col mobileNavIcon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <h6>Share This Event</h6>
            <p>Spread the news of Goodwill!</p>
          </div>
        </div></a>
      </div>
    </div>
    <div id="navFade"></div>
  </div>
</nav>
