<!-- fork: http://codepen.io/ettrics/pen/WRbGRN -->
<!-- nav class=".et-hero-tabs" -->
<div class="tint"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 itemprop="name"><span>The&nbsp;</span>Lunch</h1>
      <!-- <span id="foundationLogo">
        <img alt="The David B. Miller Family Foundation Logo" src="{{ .Site.BaseURL }}images/logo-davidbmillerfound-horz-white.png" />
      </span> -->
      <div id="foundationType">
        <p>
          The David B. Miller Family Foundation
        </p>
      </div>
      <h3 itemprop="description">Goodwill Industries of Dallas, Inc.’s largest annual fundraising event, THE LUNCH, targets Dallas’ top chief executives and influential community leaders.</h3>
      <h6>
        <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
        <span itemprop="startDate" content="2017-08-09">
          9/8/2017
        </span>
        &nbsp;
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="name">Omni Dallas</span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="555 S Lamar St">
            <meta itemprop="addressLocality" content="Dallas">
            <meta itemprop="addressRegion" content="TX">
            <meta itemprop="addressCountry" content="US">
            <meta itemprop="postalCode" content="75202">
          </span>
        </span>
      </h6>
    </div>
    <div class="w-100"></div>
    <div class="col" id="heroButtons">
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary" href="#mainDonate">Get Your Seat</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-secondary" href="#mainEventInformation">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="et-hero-tabs-container">
  <a class="et-hero-tab et-hero-tab-first" href="#mainEventInformation" data-text1="THE LUNCH" data-text2="Event Info"></a>
  <a class="et-hero-tab" href="#mainFeaturedGuest" data-text1="Speakers" data-text2="Special Guests"></a>
  <!-- <a class="et-hero-tab" href="#mainSponsors">Sponsors</a> -->
  <a class="et-hero-tab" href="#mainSponsorOpp" data-text1="Sponsors" data-text2="Sponsors &amp; Opportunities"></a>
  <a class="et-hero-tab et-hero-tab-last" href="#mainDonate" data-text1="Donate" data-text2="Get Your Tickets"></a>
  <!-- <a class="et-hero-tab" href="#mainShare">Share Event</a> -->

  <span class="et-hero-tab-slider"></span>
</div>

<!-- Sponsors &amp; Opprtunities -->
