<nav id="mobileNav">
	<!-- mobile bar -->
  <div class="container">
    <div class="row" id="mobileNavBar">
      <div class="col" id="mobileNavBars">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
    </div>
	</div>
	<!-- mobile links -->
	<div class="container">
    <div class="row" id="mobileNavLinks">
      <!-- Facebook -->
      <a href="#" class="facebook">
        <div class="col">
          <h6 class="facebook">Share</h6>
        </div>
      </a>
			<!-- LinkedIn -->
      <a href="#" class="linkedin">
        <div class="col">
          <h6 class="linkedin">Post</h6>
        </div>
      </a>
      <!-- Twitter -->
      <a href="#" class="tweet">
        <div class="col">
          <h6 class="tweet">Tweet</h6>
        </div>
      </a>
      <!-- Email -->
      <a href="#" class="email">
        <div class="col">
          <h6 class="email">Email</h6>
        </div>
      </a>
    </div>
  </div>
</nav>
<div id="navFade" class="hidden"></div>
