<div class="container" style="margin-bottom:1rem;">
  <div class="row text-center" style="align-items:flex-end;">
    <div class="col-md-6">
      <ul class="sponsorNames" id="honoraryChairs">
        <li>Diane &amp; John Scovell</li>
        <li>John &amp; Kristina Hallam</li>
      </ul>
      <h6 class="honoraryChairs"><strong>Honorary Chairs</strong></h6>
    </div>
    <div class="col-md-6">
      <ul class="sponsorNames" id="honoraryChairs">
        <li>Barbara &amp; Steven H. Durham</li>
        <li>Susan M. &amp; Marion Hicks</li>
        <li>Jane &amp; Kirk Rimer</li>
      </ul>
      <h6 class="honoraryChairs"><strong>THE LUNCH Committee Chairs</strong></h6>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row" id="lunchCommittee">
    <div class="col">
      <h6><strong>THE LUNCH Committee</strong></h6>
    </div>
    <div class="w-100"></div>
    <div class="col-12">
      <ul class="sponsorNames committee">
        <li>Elana &amp; Jerry Crawford</li>
        <li>Lucky &amp; R. Brooks Cullum, Jr.</li>
        <li>Melinda &amp; John F. Dickerson</li>
        <li>Barbara &amp; Steven H. Durham</li>
        <li>Kristina &amp; John Hallam</li>
        <li>Michele &amp; Kevin J. Hanigan</li>
        <li>Susan M. &amp; Marion Hicks</li>
        <li>Erin &amp; Kyle Hogue</li>
        <li>Patty &amp; James Huffines</li>
        <li>Suzanne &amp; James M. Johnston</li>
        <li>Danielle M. &amp; Nicholas Kaufman</li>
        <li>Michele &amp; Jack M. Lafield</li>
        <li>Penny &amp; Paul B. Loyd, Jr.</li>
        <li>Kathleen &amp; Kyle Miller</li>
        <li>The Honorable Jeanne L. Phillips</li>
        <li>Sandi &amp; Lowell Sands</li>
        <li>Mimi &amp; William H. Vanderstraaten</li>
      </ul>
    </div>
  </div>
</div>
<!-- <div class="container text-center">
  <div class="row" id="lunchCommittee">
    <div class="col">
      <h6><strong>THE LUNCH Committee</strong></h6>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-6 col-md-3">
      <ul class="sponsorNames committee">
        <li>Elana &amp; Jerry Crawford</li>
        <li>Lucky &amp; R. Brooks Cullum, Jr.</li>
        <li>Melinda &amp; John F. Dickerson</li>
        <li>Barbara &amp; Steven H. Durham</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <ul class="sponsorNames committee">
        <li>Kristina &amp; John Hallam</li>
        <li>Michele &amp; Kevin J. Hanigan</li>
        <li>Susan M. &amp; Marion Hicks</li>
        <li>Erin &amp; Kyle Hogue</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <ul class="sponsorNames committee">
        <li>Patty &amp; James Huffines</li>
        <li>Suzanne &amp; James M. Johnston</li>
        <li>Danielle M. &amp; Nicholas Kaufman</li>
        <li>Michele &amp; Jack M. Lafield</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <ul class="sponsorNames committee">
        <li>Penny &amp; Paul B. Loyd, Jr.</li>
        <li>Kathleen &amp; Kyle Miller</li>
        <li>The Honorable Jeanne L. Phillips</li>
        <li>Sandi &amp; Lowell Sands</li>
        <li>Mimi &amp; William H. Vanderstraaten</li>
      </ul>
    </div>
  </div>
</div> -->
