// main: ../main.scss

.card-panel {
  transition: box-shadow .25s;
  padding: $card-padding;
  margin: $card-top-margin 0 $card-bottom-margin 0;
  border-radius: 2px;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.card {
  position: relative;
  margin: $card-top-margin 0 $card-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 2px;
  @extend .z-depth-1;


  .card-title {
    font-size: 24px;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }

  // Card Sizes
  &.small, &.medium, &.large {
    position: relative;

    .card-image {
      max-height: 60%;
      overflow: hidden;
    }
    .card-image + .card-content {
      max-height: 40%;
    }
    .card-content {
      max-height: 100%;
      overflow: hidden;
    }
    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.small {
    height: 300px;
  }

  &.medium {
    height: 400px;
  }

  &.large {
    height: 500px;
  }

  // Horizontal Cards
  &.horizontal {
    &.small, &.medium, &.large {
      .card-image {
        height: 100%;
        max-height: none;
        overflow: visible;

        img {
          height: 100%;
        }
      }
    }

    display: flex;

    .card-image {
      max-width: 50%;
      img {
        border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
      }
    }

    .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }

  // Sticky Action Section
  &.sticky-action {
    .card-action {
      z-index: 2;
    }

    .card-reveal {
      z-index: 1;
      padding-bottom: 64px;
    }
  }




  .card-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $card-padding;
    }

  }

  .card-content {
    padding: $card-padding;
    border-radius: 0 0 2px 2px;

    p {
      margin: 0;
      color: inherit;
    }
    .card-title {
      line-height: 48px;
    }
  }

  .card-action {
    position: relative;
    background-color: inherit;
    border-top: $card-border;
    padding: $card-padding;

    a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: $card-link-color;
      margin-right: $card-padding;
      transition: color .3s ease;
      text-transform: uppercase;

      &:hover { color: $card-link-color-light; }
    }
  }

  .card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    .card-title {
      cursor: pointer;
      display: block;
    }
  }
}

@media (min-width: 768px) { // @media min-768

}


// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//
// # GOODWILL CARD W/FX
//
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.fancy {
  position: relative;

  & .card-image {

    img {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
    }
  } // end card-image

  .card-image-overlay {
    display: none;
  } // end card-image-overlay

  &:hover, &:focus, &:active {
    box-shadow: $z-depth-5;
  } // end card:hover

  & .card-action {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $bodyColor;

    &:hover, &:focus, &:active {
      text-decoration: none;

      & .card-action {
        text-decoration: none;
        background-color: $gray-lighter;
      }
    } // end fancy a:hover
  } // end fancy a
} // end fancy

@media (min-width: 1024px) {
  .fancy {
    transition: ease-in-out 300ms;
    position: relative;

    & .card-image {
      max-height: 135px;
      overflow: hidden;
      transition: ease-in-out 300ms;

      img {
        transition: ease-in-out 300ms;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        overflow: hidden;
        filter: grayscale(1);
      }
    } // end card-image

    .card-image-overlay {
      display: block;
      transition: ease-in-out 300ms;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-dark;
      opacity: 0.5;
      box-shadow: $vingette-card;
      z-index: 1;
    } // end card-image-overlay

    &:hover, &:focus, &:active {
      box-shadow: $z-depth-5;

      img {
        transform: scale(1.05);
        filter: grayscale(0);
        overflow: hidden;
      }

      .card-image-overlay {
        opacity: 0;
      } // end card-image-overlay:hover
    } // end card:hover

    a {
      text-decoration: none;
      color: $bodyColor;

      &:hover {
        text-decoration: none;

        & .card-action {

        }
      } // end fancy a:hover
    } // end fancy a
  } // end fancy
} // end @media

.fancy-ish {

  & .card-image {
    overflow: hidden;
  }

  img {
    transition: ease-in-out 300ms;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    overflow: hidden;
  }

  &:hover, &:focus, &:active {
    box-shadow: $z-depth-5;

    img {
      transform: scale(1.05);
      overflow: hidden;
    }
  } // end card:hover

  a {
    text-decoration: none;
    color: $bodyColor;

    &:hover, &:focus, &:active {
      text-decoration: none;

      & .card-action {
        text-decoration: none;
        background-color: $gray-lighter;
      }
    } // end fance a:hover
  } // end fance a
}
