// main: ../main.scss

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//
// # SEARCH RESULTS PAGE
//
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
#searchResults {

  & .wh-search-results dt {
    // font-size: 125%;
    font-weight: bold;
    border-bottom: solid 1px $gray-lighter;
    padding: 0 0 2rem;
    margin: 0 0 2rem;
  }

  & .wh-search-results dd {
    margin-left: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  & .wh-search-term {
    color: $white;
    background: $primary-dark;
    display: inline-block;
    font-weight: bold;
    padding: 0 .25rem;
    transition: 300ms ease-in-out;
  }

  & .wh-search-url {
    font-size: 80%;
    color: #666;
  }
  & .wh-search-term-in-page {
    font-weight: bold;
  }

  & .wh-search-results a {
    text-decoration: none;
    color: $black;
    border-bottom: solid 1px $gray-lighter;
    padding: 0 0 2rem;
    display: block;
    transition: 300ms ease-in-out;

    &:hover {
      .wh-search-term  {
        background: $black;
      }
    }
  }
}
